.about {
    padding: 8rem;
    background: #0A2558;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
hr{
  height: 2px;
  margin: 30px auto;
  width: 50%;
}

.button{
  text-align: center;
}

